<form action ="/desarrolladora/borrar-dev" method="post">
    <label for="nombreDev">Nombre de la desarrolladora:</label>
    <input id="idDev" type="text" name="idDev">
    <br><br>
    <button type="submit">Eliminar</button>
</form>