<form action ="/desarrolladora/crear-dev" method="post">
    <label for="nombreDev">Nombre de la desarrolladora:</label>
    <input id="nombreDev" type="text" name="nombreDev">
    <br><br>
    <label for="anioDev">Año de la fundación: </label>
    <input id="anioDev" type="text" name="anioDev">
    <br><br>
    <button type="submit">Crear</button>
    <button type="reset">Reset</button>
</form>